
<div class="enter-info">
    <form method="POST" action="/sign-up">

        <label for="firstName">First Name</label>
        <input type="text" name="firstName" placeholder="First Name">
        <p class="error-msg"> {{inputs.firstName}}</p>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" placeholder="Last Name">
        <p class="error-msg"> {{inputs.lastName}}</p>

        <label for="bDay">Birth Date</label>
        <input type="date" name="birthDate" id="bDay">
        <p class="error-msg"> {{inputs.birthDate}}</p>

        <label for="email">Email Address</label>
        <input type="text" name="email" id="email">
        <p class="error-msg"> {{inputs.email}}</p>

        <label for="email">Phone Number</label>
        <input type="text" name="phoneNo" id="phoneNo">
        <p class="error-msg"> {{inputs.phoneNo}}</p>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <p class="error-msg"> {{inputs.password}}</p>
        
<div class="enter-info-submit">
        <input type="submit" value="Submit">
</div>
    </form>
</div>


