<h2 class="prg-title">Update Room</h2>
    <form method="POST" action="/roomz/update/{{_id}}?method=PUT" class="enter-info">

        <label>Title</label>
        <input type="text" name="titl" id="titl" value="{{titl}}"> <br><br>

        <label>Price</label>
        <input type="text" name="prc" id="prc" value="{{prc}}"> <br><br>

        <label>Description</label>
        <div class="txtarea"><textarea id="descr" name="descr">{{descr}}</textarea></div><br><br>

        <label>Location</label>
        <input type="text" name="loc" id="loc" value={{loc}}> <br><br>

        <label>Room</label>
        <input type="text" name="roomFeatured" id="roomFeatured" value={{roomFeatured}}> <br><br>

        {{!-- <label>Room Type</label>
        <select name="type">
            <option value="regular">Regular</option>
            <option value="featured">Featured</option>
        </select> --}}

         <label>File Upload</label>
        <input type="file" name="roomPhoto" id="roomPhoto"> <br><br>

        <input type="submit" value="Update Room">
    </form>
