<section class="room-list">

 {{#each data}}

    <div class="room-list-items">

        <img src="/uploads/{{this.roomPhoto}}" class="room-img">  

        <p class="room-list-title">
            {{this.titl}}
        </p>

            {{this.prc}}
        </p>

        <p class="room-list-desc">
            {{this.descr}}
        </p>

         <p class="room-list-desc">
            {{this.loc}}
        </p>

        <p class="room-list-price">
             {{this.roomFeatured}} 
        </p>

        <p class="">
             {{this.roomType}} 
        </p>

        <a href="/roomz/edit/{{this.id}}">Edit</a>
    </div>

    {{/each}}
    <a href="/roomz/add-room">Edit</a>
    </section>