
   <div class="back-create">
        <a href="/roomz/add-room"  class="search-btn">Click to adding a room</a>
    </div>

<section class="room-list">
  

 {{#each data}}

    <div class="room-list-items">

        <img src="/uploads/{{this.roomPhoto}}" class="room-img">  

        <p class="room-list-title">
            {{this.titl}}
        </p>

            {{this.prc}}
        </p>

        <p class="room-list-desc">
            {{this.descr}}
        </p>

         <p class="room-list-desc">
            {{this.loc}}
        </p>

        <p class="room-list-price">
             {{this.roomFeatured}} 
        </p>

        <p class="">
             {{this.roomType}} 
        </p>
        <div class="box-btn">
        <a href="/roomz/edit/{{this.id}}" class="box-btn--txt">Edit</a>
        </div>
    </div>

    {{/each}}

   
    
    </section>